
/* TodoItem.css */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 8px 0;
  color: #000;
}

.todo-item button {
  /* background-color: #ff4444; */
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.todo-item label {
  display: flex;
  align-items: center;
  margin: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 8px; /* 체크 박스와 내용 사이의 간격 조절 */
}

.todo-item.completed label {
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: line-through;
}
